#plateau {
  background-color: chartreuse;
  position: absolute;
  width: 66%;
}

#zoneTexte {
  position: absolute;
  left: 66%;
  width: 34%;
}

.case {
  width: 64px;
  height: 64px;
  position: absolute;
}

.porte {
  background-image: url("images/porte-01.png");
}

.mur {
  background-image: url("images/mur-01.png");
}

.sol {
  background-image: url("images/sol-01.png");
}
.herbe {
  background-image: url("images/herbe-01.png");
}
